<header class="site-header">

  <a href="{{ site.baseurl }}" class="logo-container">
    <img src="{{ site.baseurl_root }}/assets/images/fj-logo.svg" alt="Fabien Joly logo">
  </a>
  <nav class="nav">
    <div class="header-link-container">
      <a class="{%- if page.namesp == "project-list" -%}active{%- endif -%}"
         href="{{ site.baseurl }}/projects/">
         {% translate pages.projects %}
      </a>
    </div>
    <div class="header-link-container">
      <a class="{%- if page.namesp == "about" -%}active{%- endif -%}"
         href="{{ site.baseurl }}/about/">
         {% translate pages.about %}
      </a>
    </div>
    <div class="header-link-container">
      <a class="{%- if page.namesp == "contact" -%}active{%- endif -%}"
         href="{{ site.baseurl }}/contact/">
         {% translate pages.contact %}
      </a>
    </div>
  </nav>

  <!-- {%- if site.lang == "fr" -%}

  {%- endif -%}

  {%- if site.lang == "en" -%}
  <nav class="nav">
    <div class="header-link-container">
      <a class="{%- if page.namespace == "project-list" -%}active{%- endif -%}"
         href="{% tl project-list en %}">
         Projects
      </a>
    </div>
    <div class="header-link-container">
      <a class="{%- if page.namespace == "about" -%}active{%- endif -%}"
         href="{% tl about en %}">
         About
      </a>
    </div>
    <div class="header-link-container">
      <a class="{%- if page.namespace == "contact" -%}active{%- endif -%}"
         href="{% tl contact en %}">
         Contact
       </a>
    </div>
  </nav>
  {%- endif -%} -->

</header>
