<div class="menu-toggler">
  <!-- <img src="" alt=""> -->
  <span></span>
</div>

<div class="menu-container">

  <div class="menu-cache"></div>

  <menu class="menu">

    <div class="menu-top-container">
      <a href="{{ site.baseurl }}" class="menu-logo-container">
        <img src="{{ site.baseurl_root }}/assets/images/fj-logo.svg" alt="Fabien Joly logo">
      </a>
    </div>

    <div class="menu-main-links">
      {%- if site.lang == "fr" -%}
      <div class="menu-link-container first">
        <a class="menu-link"
           href="{% tl project-list %}"
           tabindex="-1">
           Réalisations
        </a><br>
      </div>
      <div class="menu-link-container second">
        <a class="menu-link"
           href="{% tl about %}"
           tabindex="-1">
           À propos
        </a><br>
      </div>
      <div class="menu-link-container third">
        <a class="menu-link"
           href="{% tl contact %}"
           tabindex="-1">
           Contact
        </a><br>
      </div>
      {%- endif -%}

      {%- if site.lang == "en" -%}
      <div class="menu-link-container first">
        <a class="menu-link"
           href="{% tl project-list en %}"
           tabindex="-1">
           Projects
        </a><br>
      </div>
      <div class="menu-link-container second">
        <a class="menu-link"
           href="{% tl about en %}"
           tabindex="-1">
           About
        </a>
      </div>
      <div class="menu-link-container third">
        <a class="menu-link"
           href="{% tl contact en %}"
           tabindex="-1">
           Contact
         </a>
      </div>
      {%- endif -%}
    </div>

    <div class="menu-bottom-container">
      <div class="menu-social">
        <a target="_blank" href="https://www.instagram.com/fabien_joly_designfloral/">Instagram</a>
        <a target="_blank" href="https://www.facebook.com/Fabienjolyartisanfleuriste/">Facebook</a>
        <a target="_blank" href="https://www.artlistparis.com/set-design/fabien-joly">Artlist</a>
      </div>
    </div>

  </menu>
</div>
