@charset "utf-8";

// Define defaults for each variable.

$title-font:          "Tiempos", Times, serif;
$title-line-height:   0.8;
$title-font-size:     82px;

$text-font:           "MaisonNeue", Helvetica, Arial, sans-serif;
$text-font-size:      18px;
$text-line-height:    1.2;

$spacing-unit:        20px !default;

// Width of the content area
$content-width:       800px !default;

$on-palm:             600px !default;
$on-laptop:           800px !default;


@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin block-shadow {
    -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}

@mixin box-sizing($sizing) {
    -webkit-box-sizing: $sizing;
    -moz-box-sizing: $sizing;
    -ms-box-sizing: $sizing;
    box-sizing: $sizing;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    transform: $transform;
}

@mixin flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "fj-theme/fonts",
  "fj-theme/base",
  "fj-theme/layout",
  "fj-theme/syntax-highlighting"
;
