.about-wrapper {
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include media-query($phone) {
    flex-direction: column;
  }
}

.about-photo, .about-description {
  width: 48%;

  @include media-query($phone) {
    width: 100%;
  }
}

.about-description {
  margin-top: -$spacing-unit/2;

  @include media-query($phone) {
    margin-top: 0;
  }
}

.about-photo {
  margin-top: $spacing-unit/2;

  @include media-query($phone) {
    margin-top: 0;
  }
}

.about-photo img {
  width: 100%;
}
