body {
  font-family: sans-serif;
}

.coming-soon {
  display: block;
  width: 100%;
  min-height: 100vh;
  padding: 200px 0 0;
}

.coming-soon-logo {
  display: block;
  height: 200px;
  margin: 0 auto;
}

.coming-soon-text {
  display: block;
  text-align: center;
  margin: 40px 0 0;
  color: #a4a4a4;
}
