* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: $title-font-size;
  margin: 0;
  padding: 0;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smootthing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  margin: 0;
  padding: 0;

  font-family: $text-font;
  font-size: $text-small-size;
  line-height: $text-line-height;
  color: $text-dark;
}

.scroll-locked {
  overflow: hidden;
}

a, a:visited, a:hover {
  // color: $light-color;
}

.main-container {
  padding-bottom: $spacing-unit*2;
}

.hidden {
  visibility: hidden;
  display: none;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

.title {
  font-family: $title-font;
  font-size: $title-font-size;
  line-height: $title-line-height;
}

.page-title {
  text-align: center;
  font-size: $title-small-size;
  margin: $spacing-unit 0 $spacing-unit*3;

  @include media-query($phone) {
    // position: absolute;
    text-align: left;
    margin: 0;
    padding: $spacing-unit*2 $spacing-unit;
  }
}

.wrapper {
  width: 100%;
  padding: 0 $spacing-unit*5;
  margin: 0 auto;

  @include media-query($laptop) {
    padding: 0 $spacing-unit*3 0;
  }

  @include media-query($phone) {
    padding: 0 $spacing-unit;
  }
}

.thank-you-wrapper,
.nf-wrapper {
  max-width: 700px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .button {
    margin-top: $spacing-unit*2;
  }

  .thank-you-logo {
    height: 110px;
    margin-bottom: $spacing-unit*2;
  }
}

.coming-soon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.coming-soon img {
  display: block;
  height: 200px;
  margin: 0 auto;
}

.coming-soon-text {
  display: block;
  text-align: center;
  margin: 40px 0 0;
  color: #a4a4a4;
}
