@font-face {
  font-family: 'Tiempos';
  src: url('fonts/TiemposHeadline-Light.eot');
  src: url('fonts/TiemposHeadline-Light.woff2') format('woff2'),
       url('fonts/TiemposHeadline-Light.woff') format('woff'),
       url('fonts/TiemposHeadline-Light.ttf') format('truetype'),
       url('fonts/TiemposHeadline-Light.svg#TiemposHeadline-Light') format('svg'),
       url('fonts/TiemposHeadline-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MaisonNeue';
  src: url('fonts/MaisonNeueWEB-Book.woff2') format('woff2'),
       url('fonts/MaisonNeueWEB-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
