.home-container {
  height: 100vh;
  @include flexbox;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-unit*2 0;
  position: relative;

  @include media-query($laptop){
    padding: $spacing-unit*1.5 0;
  }

  @include media-query($tablet){
    padding: $spacing-unit*1 0;
  }

  @include media-query($phone){
    padding: $spacing-unit*0.5 0;
  }
}

.animation-content-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home-animation-container {
  width: 75%;

  @include media-query($tablet){
    width: 120%;
  }

  @include media-query($phone){
    width: 300%;
    transform: scale(2);
  }
}

.home-title {
  // margin: $spacing-unit*3 0 0;
  text-align: center;
  animation: title-animation 3s;

  h1 {
    font-family: $title-font;
    font-size: 31px;
  }

  span {
    font-size: 18px;
    color: $text-grey;
  }
}

.home-logo {
  display: none;
  animation: logo-animation 3s;

  img {
    width: 120px;
  }
}

.home-lang-select {
  animation: title-animation 3s;
}

@keyframes title-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logo-animation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  20% {
    opacity: 0;
    transform: scale(1.5);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}



.home-lang-select {
  a, a:visited {
    color: $text-dark
  }
}
