.project-container {
  margin-bottom: $spacing-unit*8;

  @include media-query($phone) {
    margin-bottom: $spacing-unit*2;
  }
}

.project-title {
  margin: 0 0 $spacing-unit*1.5;

  @include media-query($phone) {
    margin: 0 0 $spacing-unit;
  }

  h2 {
    @include media-query($phone){
      font-size: $title-small-size*0.65;
      line-height: 1;
    }
  }
}

.project-container:nth-child(odd) .project-title {
  text-align: left;
}

.project-container:nth-child(even) .project-title {
  text-align: right;

  @include media-query($phone) {
    text-align: left;
  }
}


.project-content {
  @include flexbox;
}
.project-container:nth-child(odd) .project-content {
  flex-direction: row;
  @include media-query($phone) {
    flex-direction: column-reverse;
  }
}
.project-container:nth-child(even) .project-content {
  flex-direction: row-reverse;
  @include media-query($phone) {
    flex-direction: column-reverse;
  }
}


.project-abstract {
  width: 30%;

  @include media-query($phone) {
    width: 100%;
    margin-top: $spacing-unit;
    // @include flexbox;
    // justify-content: space-between;
    // align-items: flex-start;

    .button {
      float: right;
    }
  }
}
.project-container:nth-child(odd) .project-abstract {
  padding: 0 $spacing-unit*2 0 0;

  @include media-query($phone) {
    padding: 0;
  }
}
.project-container:nth-child(even) .project-abstract {
  padding: 0 0 0 $spacing-unit*2;

  @include media-query($phone) {
    padding: 0;
  }
}

.description-text {
  @include media-query($phone) {
    display: none;
  }
}

.project-category {
  display: inline-block;
  color: $text-grey;
  margin: -5px 0 5px;

  @include media-query($phone) {
    display: inline;
    margin: 0px;
  }
}


.project-cover-images {
  width: 70%;
  height: 600px;
  display: flex;
  justify-content: space-between;

  @include media-query($phone) {
    width: 100%;
    height: 200px;
  }

  .cover-img-container {
    display: block;
    background-size: cover;
    height: 100%;
  }

  .cover-img-single {
    width: 100%;
  }
  .cover-img-pair {
    width: 48%;
  }
  .cover-img-trio {
    width: 31.3333%;
  }
}

.project-detail-button {
  position: relative;
  margin-top: $spacing-unit;

  @include media-query($phone) {
    margin: 0px;
  }
}
