<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="main-container">
      <div class="home-container">
        <div class="home-title">
          <h1>Fabien Joly</h1>
          <span>Haute Fleuristerie</span>
        </div>
        <a href="{{ site.baseurl_root }}/projects/" class="home-logo">
          <img src="{{ site.baseurl_root }}/assets/images/fj-logo.svg" alt="Fabien Joly logo">
        </a>
        <!-- {%- if site.lang == "fr" -%}
        <a href="{{ site.baseurl_root }}/projects/" class="home-logo">
          <img src="{{ site.baseurl_root }}/assets/images/fj-logo.svg" alt="Fabien Joly logo">
        </a>
        {%- elsif site.lang == "en" -%}
        <a href="{{ site.baseurl_root }}/en/projects/" class="home-logo">
          <img src="{{ site.baseurl_root }}/assets/images/fj-logo.svg" alt="Fabien Joly logo">
        </a>
        {%- endif -%} -->
        <div class="home-lang-select">
          <!-- <a href="{{ site.baseurl_root }}/projects/">fr</a> / <a href="{{ site.baseurl_root }}/en/projects/">en</a> -->
          <a href="{{ site.baseurl_root }}/projects/">Entrer</a>
        </div>
      </div>
    </div>

    <!-- <span class="coming-soon">
      <img src="{{ site.baseurl_root }}/assets/images/fj-logo.svg" alt="Fabien Joly logo">
      <div class="coming-soon-text">
        Coming soon
      </div>
    </span> -->

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>

  </body>

</html>
