<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="main-container">
      <div class="home-container">
        <div class="home-title">
          <h1>Fabien Joly</h1>
          <span>Haute Fleuristerie</span>
        </div>
        {%- if site.lang == "fr" -%}
        <a href="{% tl project-list %}" class="home-logo">
          <img src="{{ site.baseurl_root }}/assets/images/fj-logo.svg" alt="Fabien Joly logo">
        </a>
        {%- endif -%}
        {%- if site.lang == "en" -%}
        <a href="{% tl project-list en %}" class="home-logo">
          <img src="{{ site.baseurl_root }}/assets/images/fj-logo.svg" alt="Fabien Joly logo">
        </a>
        {%- endif -%}
        <div class="home-lang-select">
          <a href="{{ site.baseurl_root }}">fr</a> / <a href="{{ site.baseurl_root }}/en">en</a>
        </div>
      </div>
    </div>

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>

  </body>

</html>
