<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="main-container">
      <!-- {% assign project-sort = site.project | sort: 'position' %}
      {% for project in project-sort %}
        <h1 class="title">{{ project.title }}</h1>
        <p>{{ project.description-fr }}</p>
        <i>{{ project.description-en }}</i>
      {% endfor %} -->
    </div>

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>

  </body>

</html>
